.footer {
  margin: auto;
  padding-top: 92px;
  max-width: 194px;
  font-size: 14px;
  line-height: 16px;
}

@media screen and (max-width: 768px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    padding-top: 64px;
    line-height: 14px;
  }
}
