.header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
.header__logo {
  max-width: 254.84px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .header__logo {
    max-width: 254px;
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .header__logo {
    max-width: 188px;
    width: 100%;
  }
}
